<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../public/images/logo.jpg" type="image/x-icon">
    <title>Administración</title>
    <link rel="stylesheet" href="../public/css/admin_home.css">
    <script src="../public/js/header_footer.js" defer></script>
</head>

<body>
    <!-- INICIO HEADER -->
    <header>
        <div class="logo__division">
            <div class="logo__container">
                <a href="http://www.institutomusicalhz.com.ar/">
                    <img src="../public/images/logo-dark.png" alt="logo-instituto">
                </a>
            </div>
        </div>
        <nav id="nav__division">
            <ul>
                <li>
                    <a href="./admin_home.html">Inicio</a>
                </li>
                <li>
                    <a href="./listado_usuarios.html">Personal</a>
                </li>
                <li>
                    <a href="#">Alumnos</a>
                </li>
                <li>
                    <a href="#">Cursos</a>
                </li>
                <li>
                    <a href="#">Configuraciones</a>
                </li>
            </ul>
        </nav>
        <div class="user__division">
            <div>
                <i class="fa-regular fa-user"></i>
            </div>
            <div>
                <p>Usuario</p>
            </div>
        </div>
    </header>
    <!-- FIN HEADER -->
    <main>
        <!-- INICIO Seccion de accesos rápidos -->
        <div>
            <section id="shortcuts__section">
                <div id="titleShortcuts__container">
                    <h3>Accesos rápidos</h3>
                </div>
                <div id="shortcuts__container">
                    <!-- Card con imagen del shortcut -->
                    <article>
                        <div id="img__shortcut">
                            <a href="#">
                                <img src="../public/images/personal-icon.png" alt="personal-icon">
                            </a>
                        </div>
                        <div class="nameShortcut__container">
                            <p>Alta personal</p>
                        </div>
                    </article>
                    <!-- FIN de card con imagen del shortcut -->
                    <article>
                        <div id="img__shortcut">
                            <a href="#">
                                <img src="../public/images/cursos-icon.png" alt="cursos-icon">
                            </a>
                        </div>
                        <div class="nameShortcut__container">
                            <p>Agregar curso</p>
                        </div>
                    </article>
                    <article>
                        <div id="img__shortcut">
                            <a href="#">
                                <img src="../public/images/facturas-icon.png" alt="facturas-icon">
                            </a>
                        </div>
                        <div class="nameShortcut__container">
                            <p>Facturas</p>
                        </div>
                    </article>
                    <article>
                        <div id="img__shortcut">
                            <a href="#">
                                <img src="../public/images/facturas-icon.png" alt="facturas-icon">
                            </a>
                        </div>
                        <div class="nameShortcut__container">
                            <p>Certificados</p>
                        </div>
                    </article>
                </div>
            </section>
        </div>
        <!-- FIN Seccion de accesos rápidos -->
    </main>
    <footer>
        <div>
            <p>Copyright&COPY; Conservatorio Hertz 2023</p>
        </div>
    </footer>
</body>

</html>