@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");

@import url("./variables.css");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--font-poppins);
    font-size: 14px;
    color: var(--font-color);
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
