@import url("./general.css");
@import url("./header_admin.css");
@import url("./footer_admin.css");

main {
    height: 100vh;
}

#title__container {
    margin: 20px 30px;
}

.table__container {
    width: 80%;
    margin: 2rem auto;
}

#table__users {
    width: 100%;
    border: thin solid lightgray;
    border-collapse: collapse;
    
    & thead {
        text-align: left;
        background-color: var(--bg-gris);
        color: var(--text-blanco);
        font-weight: normal;
    }

    & th {
        padding: 1rem 1.5rem;
    }
}

#personalTable td {
    padding: 1rem 1.5rem;
    border: thin solid lightgray;
}